<fieldset class="tickets">
	<legend>Departure Tickets</legend>
	<ul = class="departResult">
		{{#with dataList2}}
		{{city_input}}
		{{/with}}
		<li><span>From: </span><span id="city_input">{{this.city_input.value}}</span></li>
		<li><span>To: </span><span>Kholinar</span></li>
		<li><span>Departure: </span><span id="departure">{{departure}}</span></li>
		<li><span>Number of seats: </span><span id="travelerNum">{{this.travelerNum}}</span></li>
		<li><img id="barcode" src="/images/barcode.jpg" /></li>
	</ul>
		<legend>Return Tickets</legend>
	<ul = class="returnResult">
		<li><span>From: </span><span>Kholinar</span></li>
		<li><span>To: </span><span id="city_input">{{city_input}}</span></li>
		<li><span>Departure: </span><span id="departure">{{this.departure}}</span></li>
		<li><span>Number of seats: </span><span id="travelerNum">{{this.travelerNum}}</span></li>
		<li><img id="barcode" src="/images/barcode.jpg" /></li>
	</ul>
</fieldset>


<ul>
  {{#each dataList}}
    <li>{{this.name}}: {{this.value}}
  {{/each}}
</ul>